section.advantages.section-indent
  .site-container.advantages__container.grid-container
    .grid-container__block
    .grid-container__block
      h2.advantages__heading.site-first-heading.js-animated-heading Преимущества #[br] оборудования LUMIEN
      .advantages__slider
        .advantages__slider-inner
          - for (let i = 0; i<3; i++)
            .advantages__item
              .advantages__item-inner
                .advantages__item-top
                  img.advantages__item-img(src=`images/svg.svg` alt="")
                p.advantages__item-txt Высокое Высокое
            .advantages__item
              .advantages__item-inner
                .advantages__item-top
                  img.advantages__item-img(src=`images/svg.svg` alt="")
                p.advantages__item-txt Высокое ВысокоеВысокое Высокое Высокое Высокое
        .advantages__slider-inner2
