-
  let intro_arr = [
    {
      name: "Интерактивные <br> дисплеи",
      slug: "Дисплеи",
      img: "images/index-slider/img1.png",
      text: "Профессиональный дисплей последнего поколения, поддерживающая технологию мультитач применима для <a href=''>развлекательных площадок</a>, <a href=''>образования</a>, <a href=''>корпоративных событий</a>,<a href=''>госсектора</a>, <a href=''>VR</a>"
    },
    {
      name: "Проекционные <br> экраны",
      slug: "Экраны",
      img: "",
      text: "Профессиональная панель последнего поколения, поддерживающая технологию мультитач применима для <a href=''>развлекательных площадок</a>, <a href=''>образования</a>, <a href=''>корпоративных событий</a>,<a href=''>госсектора</a>, <a href=''>VR</a>"
    },
    {
      name: "Мебель <br> презентационная",
      slug: "Мебель",
      img: "images/index-slider/img3.png",
      text: "Профессиональная мебель последнего поколения, поддерживающая технологию мультитач применима для <a href=''>развлекательных площадок</a>, <a href=''>образования</a>, <a href=''>корпоративных событий</a>,<a href=''>госсектора</a>, <a href=''>VR</a>"
    }
  ]

section.intro
  .site-container
    .js-intro-l.intro_layer.mod-show
      <svg class="_circle" width="870" height="625" viewBox="0 0 870 625" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M763.855 80.5761C828.22 102.767 760.699 287.021 842.054 313.829C923.408 340.636 801.013 323.459 747.369 482.479C626.304 841.357 535.222 403.436 390.304 435.792C245.387 468.149 -94.7111 578.151 26.3533 219.273C147.418 -139.605 648.278 40.7284 763.855 80.5761Z" fill="url(#paint0_diamond_2_128)"/>
        <path d="M763.855 80.5761C828.22 102.767 760.699 287.021 842.054 313.829C923.408 340.636 801.013 323.459 747.369 482.479C626.304 841.357 535.222 403.436 390.304 435.792C245.387 468.149 -94.7111 578.151 26.3533 219.273C147.418 -139.605 648.278 40.7284 763.855 80.5761Z" fill="url(#paint1_diamond_2_128)"/>
        <path d="M763.855 80.5761C828.22 102.767 760.699 287.021 842.054 313.829C923.408 340.636 801.013 323.459 747.369 482.479C626.304 841.357 535.222 403.436 390.304 435.792C245.387 468.149 -94.7111 578.151 26.3533 219.273C147.418 -139.605 648.278 40.7284 763.855 80.5761Z" fill="url(#paint2_radial_2_128)"/>
        <defs>
        <radialGradient id="paint0_diamond_2_128" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(206.728 252.151) rotate(-30.1587) scale(561.018 883.421)">
        <stop stop-color="#FE7503"/>
        <stop offset="1" stop-color="#F79B2F" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_2_128" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(254.826 461.129) rotate(-63.1934) scale(473.803 852.293)">
        <stop stop-color="#C93740"/>
        <stop offset="1" stop-color="#D23D45" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_radial_2_128" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(97.3768 210.784) rotate(1.27564) scale(675.574 943.321)">
        <stop stop-color="#1E1E1E"/>
        <stop offset="0.411458" stop-color="#E044A1" stop-opacity="0"/>
        <stop offset="1" stop-color="#E54837"/>
        </radialGradient>
        </defs>
      </svg>
      ._circle2
        ._inner
      <svg class="_circle3" width="1112" height="1004" viewBox="0 0 1112 1004" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.67">
        <path d="M15.2498 870.177C-54.9974 820.696 153.39 531.872 63.7943 471.369C-25.8012 410.866 124.02 463.877 297.779 213.669C689.92 -351.001 525.485 386.446 737.076 362.697C948.666 338.948 1224.04 428.854 1075.2 791.953C926.369 1155.05 141.39 959.026 15.2498 870.177Z" fill="url(#paint0_diamond_2_126)"/>
        <path d="M15.2498 870.177C-54.9974 820.696 153.39 531.872 63.7943 471.369C-25.8012 410.866 124.02 463.877 297.779 213.669C689.92 -351.001 525.485 386.446 737.076 362.697C948.666 338.948 1224.04 428.854 1075.2 791.953C926.369 1155.05 141.39 959.026 15.2498 870.177Z" fill="url(#paint1_diamond_2_126)"/>
        </g>
        <defs>
        <radialGradient id="paint0_diamond_2_126" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(799.959 681.492) rotate(-144.018) scale(947.175 1515.84)">
        <stop stop-color="#FFAE4F"/>
        <stop offset="0.532933" stop-color="#F59930" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_2_126" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(558.862 578.254) rotate(-139.235) scale(516.738 813.664)">
        <stop stop-color="#E86235"/>
        <stop offset="0.84375" stop-color="#D23D45" stop-opacity="0"/>
        </radialGradient>
        </defs>
      </svg>
    .js-intro-l.intro_layer-second
      <svg class="_circle" width="1382" height="784" viewBox="0 0 1382 784" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1354.59 171.097C1776.28 -340.783 1354.98 460.313 1486.99 510.127C1618.99 559.94 1421.01 517.487 1338.67 732.587C1152.84 1218.02 994.202 589.866 761.192 613.544C528.182 637.222 -153.434 704.913 32.396 219.476C218.226 -265.962 932.899 682.976 1354.59 171.097Z" fill="url(#paint0_diamond_8_172)"/>
        <path d="M1354.59 171.097C1776.28 -340.783 1354.98 460.313 1486.99 510.127C1618.99 559.94 1421.01 517.487 1338.67 732.587C1152.84 1218.02 994.202 589.866 761.192 613.544C528.182 637.222 -153.434 704.913 32.396 219.476C218.226 -265.962 932.899 682.976 1354.59 171.097Z" fill="url(#paint1_diamond_8_172)"/>
        <path d="M1354.59 171.097C1776.28 -340.783 1354.98 460.313 1486.99 510.127C1618.99 559.94 1421.01 517.487 1338.67 732.587C1152.84 1218.02 994.202 589.866 761.192 613.544C528.182 637.222 -153.434 704.913 32.396 219.476C218.226 -265.962 932.899 682.976 1354.59 171.097Z" fill="url(#paint2_radial_8_172)" fill-opacity="0.31"/>
        <defs>
        <radialGradient id="paint0_diamond_8_172" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(282.399 67.9758) rotate(17.2128) scale(593.062 942.049)">
        <stop stop-color="#031CFE" stop-opacity="0.71"/>
        <stop offset="1" stop-color="#2A6199" stop-opacity="0.19"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_8_172" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(543.228 628.787) rotate(-59.2797) scale(653.006 1397.94)">
        <stop stop-color="#3771C9"/>
        <stop offset="1" stop-color="#3D4CD2" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_radial_8_172" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1191.47 158.085) rotate(65.4485) scale(175.621 171.092)">
        <stop stop-color="#0A40FF"/>
        <stop offset="1" stop-color="#CA00EB" stop-opacity="0.37"/>
        </radialGradient>
        </defs>
      </svg>
      <svg class="_circle2" width="716" height="765" viewBox="0 0 716 765" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M353.274 10.5701C405.278 -34.4707 510.372 93.0351 575.147 35.6252C639.923 -21.7847 560.281 73.5405 653.495 179.727C863.86 419.37 477.551 325.9 423.79 459.145C370.03 592.389 270.068 918.265 59.7027 678.622C-150.662 438.98 259.894 91.4484 353.274 10.5701Z" fill="url(#paint0_diamond_8_174)"/>
        <path d="M353.274 10.5701C405.278 -34.4707 510.372 93.0351 575.147 35.6252C639.923 -21.7847 560.281 73.5405 653.495 179.727C863.86 419.37 477.551 325.9 423.79 459.145C370.03 592.389 270.068 918.265 59.7027 678.622C-150.662 438.98 259.894 91.4484 353.274 10.5701Z" fill="url(#paint1_diamond_8_174)"/>
        <path d="M353.274 10.5701C405.278 -34.4707 510.372 93.0351 575.147 35.6252C639.923 -21.7847 560.281 73.5405 653.495 179.727C863.86 419.37 477.551 325.9 423.79 459.145C370.03 592.389 270.068 918.265 59.7027 678.622C-150.662 438.98 259.894 91.4484 353.274 10.5701Z" fill="url(#paint2_radial_8_174)" fill-opacity="0.31"/>
        <defs>
        <radialGradient id="paint0_diamond_8_174" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(182.889 541.066) rotate(-84.8276) scale(515.214 818.393)">
        <stop stop-color="#031CFE"/>
        <stop offset="1" stop-color="#2A6199" stop-opacity="0.19"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_8_174" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(369.752 581.81) rotate(-121.505) scale(400.6 857.594)">
        <stop stop-color="#3771C9"/>
        <stop offset="1" stop-color="#3D4CD2" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_radial_8_174" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(299.58 95.386) rotate(3.22361) scale(107.738 104.96)">
        <stop stop-color="#0A40FF"/>
        <stop offset="1" stop-color="#0034EB" stop-opacity="0.37"/>
        </radialGradient>
        </defs>
      </svg>
    .js-intro-l.intro_layer-third
      <svg class="_circle" width="1599" height="607" viewBox="0 0 1599 607" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1195.5 38.501C1626.33 -177.634 1405.86 587.786 1550.62 648.994C1695.37 710.202 1476.63 654.837 1373.8 894.71C1141.73 1436.05 996.702 720.606 735.502 738.625C474.301 756.643 -289.697 807.575 -57.6265 266.23C174.444 -275.115 764.671 254.636 1195.5 38.501Z" fill="url(#paint0_diamond_12_128)"/>
        <path d="M1195.5 38.501C1626.33 -177.634 1405.86 587.786 1550.62 648.994C1695.37 710.202 1476.63 654.837 1373.8 894.71C1141.73 1436.05 996.702 720.606 735.502 738.625C474.301 756.643 -289.697 807.575 -57.6265 266.23C174.444 -275.115 764.671 254.636 1195.5 38.501Z" fill="url(#paint1_diamond_12_128)"/>
        <path d="M1195.5 38.501C1626.33 -177.634 1405.86 587.786 1550.62 648.994C1695.37 710.202 1476.63 654.837 1373.8 894.71C1141.73 1436.05 996.702 720.606 735.502 738.625C474.301 756.643 -289.697 807.575 -57.6265 266.23C174.444 -275.115 764.671 254.636 1195.5 38.501Z" fill="url(#paint2_linear_12_128)" fill-opacity="0.81"/>
        <defs>
        <radialGradient id="paint0_diamond_12_128" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(448.282 541.857) rotate(-67.8688) scale(325.04 507.563)">
        <stop stop-color="#E3E3E3"/>
        <stop offset="1" stop-color="#832A99" stop-opacity="0.19"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_12_128" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(491.52 747.68) rotate(-57.1853) scale(739.598 1557.91)">
        <stop stop-color="#C48CD3"/>
        <stop offset="1" stop-color="#DC8DE3" stop-opacity="0"/>
        </radialGradient>
        <linearGradient id="paint2_linear_12_128" x1="1514.33" y1="723.747" x2="1461.57" y2="329.563" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="1" stop-color="#DC57F2" stop-opacity="0.24"/>
        </linearGradient>
        </defs>
      </svg>
      <svg class="_circle2" width="1002" height="601" viewBox="0 0 1002 601" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.2">
        <path d="M500.405 1117.96C384.779 796.421 520.017 596.682 399.791 607.114C279.564 617.546 30.5449 841.237 5.61337 502.883C-50.6523 -260.716 336.73 588.885 491.431 323.957C646.132 59.0291 1029.98 -305.109 1086.25 458.49C1142.51 1222.09 616.031 1439.49 500.405 1117.96Z" fill="url(#paint0_diamond_12_127)"/>
        <path d="M500.405 1117.96C384.779 796.421 520.017 596.682 399.791 607.114C279.564 617.546 30.5449 841.237 5.61337 502.883C-50.6523 -260.716 336.73 588.885 491.431 323.957C646.132 59.0291 1029.98 -305.109 1086.25 458.49C1142.51 1222.09 616.031 1439.49 500.405 1117.96Z" fill="url(#paint1_diamond_12_127)"/>
        <path d="M500.405 1117.96C384.779 796.421 520.017 596.682 399.791 607.114C279.564 617.546 30.5449 841.237 5.61337 502.883C-50.6523 -260.716 336.73 588.885 491.431 323.957C646.132 59.0291 1029.98 -305.109 1086.25 458.49C1142.51 1222.09 616.031 1439.49 500.405 1117.96Z" fill="url(#paint2_linear_12_127)"/>
        </g>
        <defs>
        <radialGradient id="paint0_diamond_12_127" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(934.688 570.351) rotate(132.391) scale(1861.36 2973.81)">
        <stop stop-color="#D500E8"/>
        <stop offset="0.54459" stop-color="#4D2CFC" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_12_127" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(674.398 62.0576) rotate(72.4063) scale(722.166 1134.63)">
        <stop stop-color="#D12C8D"/>
        <stop offset="0.713542" stop-color="#F40000" stop-opacity="0.23"/>
        </radialGradient>
        <linearGradient id="paint2_linear_12_127" x1="1072.2" y1="558.691" x2="411.878" y2="752.184" gradientUnits="userSpaceOnUse">
        <stop offset="0.143147" stop-color="#F83765"/>
        <stop offset="0.645833" stop-color="#E338A6" stop-opacity="0.76"/>
        <stop offset="1" stop-color="#AE36D5"/>
        </linearGradient>
        </defs>
      </svg>
      <svg class="_circle3" width="1234" height="556" viewBox="0 0 1234 556" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1217.99 202.194C1637.78 -393.346 1192.06 516.561 1304.38 558.478C1416.71 600.395 1245.31 572.594 1152.88 814.058C944.272 1358.99 860.923 690.834 652.511 738.17C444.1 785.506 -165.415 922.266 43.1913 377.331C251.797 -167.605 798.197 797.735 1217.99 202.194Z" fill="url(#paint0_diamond_12_126)"/>
        <path d="M1217.99 202.194C1637.78 -393.346 1192.06 516.561 1304.38 558.478C1416.71 600.395 1245.31 572.594 1152.88 814.058C944.272 1358.99 860.923 690.834 652.511 738.17C444.1 785.506 -165.415 922.266 43.1913 377.331C251.797 -167.605 798.197 797.735 1217.99 202.194Z" fill="url(#paint1_diamond_12_126)"/>
        <path d="M1217.99 202.194C1637.78 -393.346 1192.06 516.561 1304.38 558.478C1416.71 600.395 1245.31 572.594 1152.88 814.058C944.272 1358.99 860.923 690.834 652.511 738.17C444.1 785.506 -165.415 922.266 43.1913 377.331C251.797 -167.605 798.197 797.735 1217.99 202.194Z" fill="url(#paint2_radial_12_126)" fill-opacity="0.31"/>
        <defs>
        <radialGradient id="paint0_diamond_12_126" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(278.259 189.467) rotate(15.8973) scale(504.825 1055.65)">
        <stop stop-color="#676164" stop-opacity="0.71"/>
        <stop offset="1" stop-color="#832A99" stop-opacity="0.19"/>
        </radialGradient>
        <radialGradient id="paint1_diamond_12_126" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(458.186 774.943) rotate(-61.6265) scale(728.718 1194.9)">
        <stop stop-color="#C48CD3"/>
        <stop offset="1" stop-color="#DC8DE3" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_radial_12_126" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1074.78 203.167) rotate(73.2968) scale(174.243 164.49)">
        <stop stop-color="#FF0AE6"/>
        <stop offset="1" stop-color="#CA00EB" stop-opacity="0.37"/>
        </radialGradient>
        </defs>
      </svg>



  //- .intro__layer-slide.mod-show
  //-   //- video(src="assets/include/vidBgOne.mp4" class="intro__layer-video" playsinline muted autoplay loop)
  //- .intro__layer-slide
  //-   //- video(src="assets/include/vidBgTwo.mp4" class="intro__layer-video" playsinline muted autoplay loop)
  //- .intro__layer-slide
  //-   //- video(src="assets/include/vidBgThree.mp4" class="intro__layer-video" playsinline muted autoplay loop)

  .site-container.intro__container.grid-container
    .grid-container__block
      a.logo.header__logo(href="/")
        +icon-multi("logo")(width="161" height="22" class="logo__icon")
    .grid-container__block.intro-content
      .intro-content__block
        .intro-slider-nav__wrapper
          .intro-slider-nav.swiper
            .swiper-wrapper
              for item in intro_arr
                .intro-slider-nav__item.swiper-slide= item.slug
                  span._mobile-lines
      .intro-content__block
        .intro-content__slider-wrapper
          .slider-nav.intro-content__slider-nav
            button.slider-nav__btn.button-reset.js-intro-btn-prev
              +icon-mono("shevron-left")(width="9" height="13" class="slider-nav__btn-icon")
            button.slider-nav__btn.button-reset.js-intro-btn-next
              +icon-mono("shevron-right")(width="9" height="13" class="slider-nav__btn-icon")
          .intro-content-slider.swiper
            .swiper-wrapper
              for item in intro_arr
                .swiper-slide
                  span.intro-content__heading.js-intro-splitted(data-name=item.slug)!= item.name
                  .intro-content__btn-wrapper.js-intro-content-anim
                    .text-container
                      p!= item.text
                    a.intro-content__btn(href="/")
                      span.intro-content__btn-circle-wrapper
                        span.intro-content__btn-outer-circle
                        +icon-multi("tv-small")(class="intro-content__btn-icon" width="52" height="39")
                      span.intro-content__btn-text смотреть модели
  img(src="images/index-slider/img1.png" alt="" class="intro-content__img mod-show")
  img(src="images/index-slider/img2.png" alt="" class="intro-content__img")
  img(src="images/index-slider/img33.png" alt="" class="intro-content__img is-furniture")
