-
  let catalog_arr = [
    {
      name: "С электроприводом",
      text: "Профессиональные дисплеи последнего поколения, поддерживающие технологию мультитач (до 20 касаний), обладающие огромным количеством функций и потрясающим качеством изображения. Современное решение для бизнеса и образования.",
      count: "43"
    },
    {
      name: "Для крупных инсталляций",
      text: "Профессиональные дисплеи последнего поколения, поддерживающие технологию мультитач (до 20 касаний), обладающие огромным количеством функций и потрясающим качеством изображения. Современное решение для бизнеса и образования.",
      count: "3"
    },
    {
      name: "Натяжные на раме",
      text: "Презентационная мебель Lumien представлена тремя моделями проекционных столиков, которые отличаются высоким качеством, надёжностью и сбалансированной ценой. Благодаря этим преимуществам, они могут широко использоваться при решении различных задач в сфере бизнеса и образования.",
      count: "3"
    },
    {
      name: "С функцией отражения внешней застветки",
      text: "Lumien предлагает широкий выбор как моторизованных, так и стационарных экранов на раме больших размеров. Данные экраны пользуются большой популярностью в актовых залах, театрах, кинотеатрах, и на концертных площадках",
      count: "4"
    },
    {
      name: "Встраиваемые",
      text: "Встраиваемые проекционные экраны Lumien являются отличным решением для оснащения современных офисных пространств и домашнего использования. Корпус проекционного экрана эргономично встраивается в фальш-потолок, делая экран абсолютно невидимым в неразвернутом положении.",
      count: "1"
    },
    {
      name: "Рулонные ручные",
      text: "Встраиваемые проекционные экраны Lumien являются отличным решением для оснащения современных офисных пространств и домашнего использования. Корпус проекционного экрана эргономично встраивается в фальш-потолок, делая экран абсолютно невидимым в неразвернутом положении.",
      count: "1"
    },
    {
      name: "Мобильные",
      text: "Встраиваемые проекционные экраны Lumien являются отличным решением для оснащения современных офисных пространств и домашнего использования. Корпус проекционного экрана эргономично встраивается в фальш-потолок, делая экран абсолютно невидимым в неразвернутом положении.",
      count: "1"
    },
    {
      name: "Аксессуары",
      text: "Встраиваемые проекционные экраны Lumien являются отличным решением для оснащения современных офисных пространств и домашнего использования. Корпус проекционного экрана эргономично встраивается в фальш-потолок, делая экран абсолютно невидимым в неразвернутом положении.",
      count: "1"
    }
  ]

section.section-indent.common-catalog
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.common-catalog__heading Проекционные экраны
  .site-container.common-catalog__container.grid-container
    for item, index in catalog_arr
      .common-catalog__item
        +catalog-item(item.name, item.text, `img${index}`, item.count)
  .site-container
    button.button-reset.button.common-catalog__show-more-btn
      span._descktop смотреть все экраны
      span._mobile смотреть все
