main.page-main.main
  section.top-offset
    .site-container
      +breadcrumbs([['Главная', "/"], ['Каталог', '/'], ['Проекционные экраны']])
  include content.pug
  include catalog-more.pug
  include ../../parts/form.pug
