main.page-main.main
  section.top-offset
    .site-container
      +breadcrumbs([['Главная', "/"], ['Каталог', "/"], ['Экраны', "/"], ['Cinema Tensioned Control']])(class="intro__breadcrumbs")
  include content.pug
  include table.pug
  include equipment-load.pug
  include slider-equipment.pug
  include news.pug
  include ../../parts/form.pug
